.navbar {

/* 1. Color y visuales base */
  background-color: white;
  border-top: 2px solid rgba(0, 0, 0, 0.2); /* Un borde más sutil */
  
  /* 2. Posicionamiento FIJO abajo */
  position:fixed;  /* Se pega a la ventana, no al contenido */

  bottom: 0;
  left: 0;

  width: 100%;      /* Ocupa todo el ancho */
  z-index: 1000;    /* Asegura que flote sobre otros elementos */

  /* 3. Distribución (Flexbox) */
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* 'around' se ve mejor que 'between' en pantallas anchas */
  padding: 15px 0;  /* Ajuste de padding vertical */
  
  /* Opcional: Sombras para que se distinga del fondo */
  box-shadow: 0px -2px 10px rgba(0,0,0,0.3);

  
  
    

}

/** ICONOS DEL NAV */
.navbar svg {

    cursor: pointer;
    padding: 10px;
    width: 30px;
    

}

.navbar :hover {

background-color: rgba(0,0,0,0.5)   ;
border-radius: 10px;

}

/*! END ICONOS DEL NAV */