:root {
    --var-width-home: 250px;
    --var-height-home: 200px;
    --var-color-letters: rgba(0,0,0,0.8);
}

h4 {
    text-align: center;
    color: var(--var-color-letters);
}

.home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    overflow-y: auto;
    overflow-x: auto;



    margin-bottom:106px;

}

.content-home {
    cursor: pointer;
    margin: 10px;
    border-radius: 20px;
    width: var(--var-width-home);
    height: var(--var-height-home);

}

.content-home:hover {
    scale: 1.1;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.content-home p{
    text-align: center;
    padding: 10px;
    color: var(--var-color-letters);
}





#comunicados_oficiales {
    background: #e76060;
}

#notas_instantaneas {
    background: #8ed665;

}

#chat_area {
    background: #514fd8;

}

#tareas_recordatorios {
    background: #60e7dc;

}

@media (max-width:600px) {
    .content-home{
        width: 190px !important;
        
    }
}